	i.orb {
		font-size: 1.1rem;
		margin: 0;
		padding: 0 0 0 0;
	}
	.grey-orb { color: #C0C0C0 }
	.grey-off {
		color: #C0C0C0;
		font-size: 8pt;
	}
	.green-orb{ color: #33CC33 }
	.green-on {
		color: #33CC33;
		font-size: 8pt;
	}
	.green-blink {
		animation: blinker-green 2s ease-in-out infinite;
		font-size: 8pt;
	}
	@keyframes blinker-green {
		0% {color: #AAAAAA;}
		50% {color: #33CC33;}
		100% {color: #AAAAAA;}
	}
	.yellow-orb { color: #FF9900 }
	.yellow-on {
		color: #FF9900;
		font-size: 8pt;
	}
	.yellow-blink {
		animation: blinker-yellow 2s ease-in-out infinite;
		font-size: 8pt;
	}
	@keyframes blinker-yellow {
		0% {color: #AAAAAA;}
		50% {color: #FF9900;}
		100% {color: #AAAAAA;}
	}
	.yellow-blink-bg {
		animation: blinker-yellow-bg 2s ease-in-out infinite;
	}
	@keyframes blinker-yellow-bg {
		0% {background-color: #000000;}
		50% {background-color: #FF9900;}
		100% {background-color: #000000;}
	}
	.red-orb{ color: #FF3300 }
	.red-on {
		color: #FF3300;
		font-size: 8pt;
	}
	.red-off {
		color: #FF3300;
		font-size: 8pt;
	}
	.red-blink {
		animation: blinker-red 1s ease-in-out infinite;
		font-size: 8pt;
	}
	@keyframes blinker-red {
		0% {color: #FF0000;}
		25% {color: #FF9900;}
		50% {color: #FF0000;}
		75% {color: #FF9900;}
		100% {color: #FF0000;}
	}
	.red-blink-bg {
		animation: blinker-red-bg 1s ease-in-out infinite;
	}
	@keyframes blinker-red-bg {
		0% {background-color: #FF0000;}
		25% {background-color: #000000;}
		50% {background-color: #FF0000;}
		75% {background-color: #000000;}
		100% {background-color: #FF0000;}
	}
	.blue-orb{ color: #0099FF }
	.blue-on {
		color: #0099FF;
		font-size: 8pt;
	}
	.blue-blink {
		animation: blinker-blue 2s ease-in-out infinite;
		font-size: 8pt;
	}
	@keyframes blinker-blue {
		0% {color: #AAAAAA;}
		50% {color: #0099FF;}
		100% {color: #AAAAAA;}
	}
